.layout-container{
    width: 100%;
    height: 100vh;
    display: flex;
}


/* Sidebar styles  */
.sidebar-container{
    width: 20%;
    height: 100vh;
    background-color: white;
}

/* Navbar Container  */
.main-container{
    width: 80%;
    height: 100vh;
    background-color: #F8F7F7;
}

.main-container .navbar-container{
    width: 100%;
    height: 10vh;
    background-color: white;
    display: flex;
    padding: 10px;
    padding-right: 5%;
    align-items: center;
}

.main-container .navbar-container h1{
    margin-left: auto;
    font-size: 15px;
}

.sidebar-container{
    padding: 3%;
    display: inline;
}
.sidebar-container h1{
    font-size: 24px;
    font-weight: bolder;
    color: rgb(255, 140, 0);
}
.nav-menu {
    width: 100%;
}

.nav-menu ul {
    width: 100%;
    list-style-type: none;
    list-style: none;
}
.nav-menu ul li{
    margin-top: 2em;
    font-size: 13px;
    padding: 10px;
    padding-left: 20px;
    list-style: none;
}

.nav-menu ul li:hover{
    background-color: rgba(255, 228, 196, 0.4);
    border-radius: 10px;
}
.page-not-found {
    background-color: aliceblue;
    color: 'red';
    text-align: center;
    height: 100vh;
    width: 100%;
}